<h1 class="text-center">Добавить статью</h1>
<div class="col-md-9 mx-auto">
    <form onsubmit="sendForm(this); return false;" action="/addArticle" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" placeholder="Заголовок">
        </div>
        <div class="mb-3">
            <textarea id="sample" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="author" placeholder="author">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary form-control">
        </div>
    </form>
</div>
<link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
<!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor-contents.css" rel="stylesheet"> -->
<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
<!-- languages (Basic Language: English/en) -->
<script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ru.js"></script>
<script>
    const editor = SUNEDITOR.create((document.getElementById('sample') || 'sample'),{
        lang: SUNEDITOR_LANG['ru'],
        height: "400px",
        buttonList: [
            ['undo', 'redo'],
            ['font', 'fontSize', 'formatBlock'],
            ['paragraphStyle', 'blockquote'],
            ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
            ['fontColor', 'hiliteColor', 'textStyle'],
            ['removeFormat'],
            '/', // Line break
            ['outdent', 'indent'],
            ['align', 'horizontalRule', 'list', 'lineHeight'],
            ['table', 'link', 'image', 'video', 'audio' /** ,'math' */], // You must add the 'katex' library at options to use the 'math' plugin.
            /** ['imageGallery'] */ // You must add the "imageGalleryUrl".
            ['fullScreen', 'showBlocks', 'codeView'],
            ['preview', 'print'],
            ['save', 'template'],
            /** ['dir', 'dir_ltr', 'dir_rtl'] */ // "dir": Toggle text direction, "dir_ltr": Right to Left, "dir_rtl": Left to Right
        ]
    });

    function sendForm(form){
        let formData = new FormData(form);
        formData.append('content', editor.getContents());
        fetch('/addArticle', {
            method: "POST",
            body: formData
        }).then(response=>response.json())
            .then(result=>{
                console.log(result);
            })
    }
</script>