<h1 class="text-center">Добавить статью</h1>
<div class="col-5 mx-auto">
    <form action="/addArticle" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" name="title" placeholder="Заголовок">
        </div>
        <div class="mb-3">
            <textarea name="content" class="form-control" placeholder="Контент"></textarea>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" name="author" placeholder="author">
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-primary form-control">
        </div>
    </form>
</div>